FR_ENGINE=insightface
FR_DECOLECTA_API_KEY=replace-me
FR_DECOLECTA_BASE_URL=https://api.decolecta.com
FR_CLOUDINARY_API_KEY=123456789012345
FR_CLOUDINARY_API_SECRET=change-me
FR_CLOUDINARY_CLOUD_NAME=your-cloud-name
FR_DB_URL=postgresql+asyncpg://postgres:admin@localhost:5432/ema
FR_JWT_SECRET=replace-me
